@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
       <img src="/dist/img/text.png"style="width: 552px;height: auto;"/>

    <h1 class="display-4"style="margin-bottom: 55px;font-size: 40px;">Cистема сбора, обработки и представления данных</h1>
    <h1 class="display-4"style="font-size: 40px;">Добро пожаловать</h1>
    <img src="/dist/img/Segmentation-rafiki.png"style="width: 552px;height: auto;"/>
</div>